<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"> 
<title>新书速递</title>
<style>
table, td, th
{
	border:3px solid #FF7F50;
}
th
{
	background-color:	#FFA07A;
	color:white;
}
</style>
</head>

<body>
<table>
<tr>
<th>书名</th>
<th>作者</th>
<th>评分</th>
</tr>
<tr>
<td>偏见</td>
<td>十三邀 </td>
<td>8.0</td>
</tr>
<tr>
<td>庆熹纪事</td>
<td>红猪侠 </td>
<td>9.2</td>
</tr>
<tr>
<td>故宫的古物之美</td>
<td>祝勇</td>
<td>6.7</td>
</tr>
<tr>
<td>Cleveland</td>
<td>Brown</td>
<td>$250</td>
</tr>
</table>
</body>
</html>