<!DOCTYPE html>
<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>帅哥部落</title>  
<style>
div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

</style>
</head>
<body>


 

<div class="responsive">
  <div class="img">
    <a target="_blank" href="/static/tu/1.jpeg">
      <img src="/static/tu/1.jpeg" alt="52" width="150" height="200">
    </a>
    <div class="desc">宋钟基</div>
  </div>
</div>

<div class="responsive">
  <div class="img">
    <a target="_blank" href="/static/tu/2.jpeg">
      <img src="/static/tu/2.jpeg" alt="53" width="150" height="200">
    </a>
    <div class="desc">宋钟基</div>
  </div>
</div>
<div class="responsive">
  <div class="img">
    <a target="_blank" href="/static/tu/3.jpeg">
      <img src="/static/tu/3.jpeg" alt="54" width="150" height="200">
    </a>
    <div class="desc">宋钟基</div>
  </div>
</div>
<div class="responsive">
  <div class="img">
    <a target="_blank" href="/static/tu/4.jpeg">
      <img src="/static/tu/4.jpeg" alt="55" width="150" height="200">
    </a>
    <div class="desc">宋钟基</div>
  </div>
</div>
<div class="responsive">
  <div class="img">
    <a target="_blank" href="/static/tu/5.jpeg">
      <img src="/static/tu/5.jpeg" alt="56" width="150" height="200">
    </a>
    <div class="desc">宋钟基</div>
  </div>
</div>


<div class="responsive">
  <div class="img">
    <a target="_blank" href="/static/tu/6.jpeg">
      <img src="/static/tu/6.jpeg" alt="11" width="150" height="200">
    </a>
    <div class="desc">宋仲基</div>
  </div>
</div>


<div class="responsive">
  <div class="img">
    <a target="_blank" href="/static/tu/7.jpeg">
      <img src="/static/tu/7.jpeg" alt="11" width="150" height="200">
    </a>
    <div class="desc">宋仲基</div>
  </div>
</div>
 

<div class="responsive">
  <div class="img">
    <a target="_blank" href="/static/tu/8.jpeg">
      <img src="/static/tu/8.jpeg" alt="11" width="150" height="200">
    </a>
    <div class="desc">赵寅成</div>
  </div>
</div>
 

<div class="responsive">
  <div class="img">
    <a target="_blank" href="/static/tu/12.jpeg">
      <img src="/static/tu/12.jpeg" alt="11" width="150" height="200">
    </a>
    <div class="desc">赵寅成</div>
  </div>
</div>
 

<div class="responsive">
  <div class="img">
    <a target="_blank" href="/static/tu/13.jpeg">
      <img src="/static/tu/13.jpeg" alt="33" width="150" height="200">
    </a>
    <div class="desc">苏志燮</div>
  </div>
</div>

 
<div class="responsive">
  <div class="img">
    <a target="_blank" href="/static/tu/14.jpeg">
      <img src="/static/tu/14.jpeg" alt="77" width="150" height="200">
    </a>
    <div class="desc">玄彬</div>
  </div>
</div>

</body>
</html>

